.text {
  color: aqua;
  margin: 20px;
  font-size: 20px;
}
.but {
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  height: 30px;
  background-color: rgb(4, 105, 71);
  cursor: pointer;
}
