.grid {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  gap: 10px;
  justify-content: center;

  .card {
    border-radius: 5px;
    background: rgb(56, 45, 105);
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    cursor: pointer;
    transition: scale 0.2s;

    &.selecter {
      background: rgb(109, 94, 173);
      scale: 0.9;
      transition: scale 0.2s;
    }
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      scale: 1.1;
      transition: scale 0.2s;
    }
  }
}
