<div class="wrapper">
  <input
    class="input"
    [formControl]="search"
    id="inputTxt"
    placeholder="Enter film name..."
    #movieName
  />
  <div class="container" *ngIf="movie$ | async as movie">
    <img class="poster" [src]="movie.Poster" alt="Flag" />
    <div class="discribe">
      <span class="sp"> {{ movie.Title }}</span>
      <p>
        <span class="sp">This movie was released in: </span> {{ movie.Year }}
      </p>
      <p><span class="sp">Actors and actress are:</span> {{ movie.Actors }}</p>
      <p><span class="sp">This movie was made in:</span> {{ movie.Country }}</p>
      <p><span class="sp">Currencies:</span> {{ country?.currencies?.[0] }}</p>
      <div>
        <span class="sp">Flag is:</span>
        <img class="flag" [src]="country?.flags?.png" alt="Flag" />
      </div>
    </div>
  </div>
</div>
