<div class="wrapper">
  <h1 class="header">Search Movie</h1>
  <input
    class="input"
    [formControl]="search"
    id="inputTxt"
    placeholder="Enter film name..."
    #movieName
  />
  <div class="container" *ngIf="movie$ | async as movie">
    <img class="poster" [src]="movie.Poster" alt="Poster" />
    <div class="discribe">
      <span class="sp">{{ movie.Title }}</span>
      <p>
        <span class="sp">This movie was released in:</span> {{ movie.Year }}
      </p>
      <p>
        <span class="sp">Actors and actresses are:</span> {{ movie.Actors }}
      </p>
      <p><span class="sp">This movie was made in:</span> {{ movie.Country }}</p>
      <div>
        <div>
          <span class="sp">Currencies:</span>
          <span *ngFor="let country of movie.Countries">
            {{ country.currency }}
          </span>
        </div>
        <div>
          <span class="sp">Flag is:</span>
          <img
            *ngFor="let country of movie.Countries"
            class="flag"
            [src]="country.flag"
            alt="Flag"
          />
        </div>
      </div>
      <p
        (click)="addFilm(movie)"
        class="addfilm"
        [routerLink]="['/film', movie.Title, 'add']"
      >
        Add Film to Favourites List 😎
      </p>
    </div>
  </div>
</div>
