<div class="wrapper">
  <h1 class="header">Three films story</h1>
  <div class="container">
    <input
      class="input"
      [formControl]="search1"
      placeholder="Enter film name..."
    />
    <input
      class="input"
      [formControl]="search2"
      placeholder="Enter film name..."
    />
    <input
      class="input"
      [formControl]="search3"
      placeholder="Enter film name..."
    />
    <button class="button" id="searchThree" (click)="onSearchThree()">
      Search
    </button>
  </div>
  <div id="totalRuntime" *ngIf="totalRuntime">
    <span class="sp">Total Runtime: </span> {{ totalRuntime }} min
  </div>
  <div id="totalRuntime" *ngIf="totalPopulation">
    <span class="sp">Total Population is: </span> {{ totalPopulation }}
  </div>
</div>
